---
layout: default
section: programa
title: esLibre 2019 - David Charte - Aplicaciones prácticas de las redes neuronales no supervisadas
---

<h1 class="mt-3 mb-3">Devroom 4: Informática y Matemáticas (10:15 - 10:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/charte_david.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">David Charte: "Aplicaciones prácticas de las redes neuronales no supervisadas"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Una introducción a <a href="https://en.wikipedia.org/wiki/Autoencoder" target="_blank">autoencoders</a>, <a href="Red neuronal artificial" target="_blank
  ">redes neuronales artificiales</a> que realizan <a href="https://es.wikipedia.org/wiki/Aprendizaje_no_supervisado" target="_blank">aprendizaje automático no supervisado</a>, y para qué tipos de aplicaciones se pueden usar: visualización de datos,
  detección de anomalías, limpieza de datos, hashing...
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://david.quotient.space/" target="_blank">David Charte</a></strong><br><br>
  <a href="https://github.com/fdavidcl" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/fdavidcl" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/fdavidcl" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://mstdn.io/@fdavidcl" target="_blank"><img src="{{ "/2019/assets/icons/mastodon-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/fdavidcl/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  </ul>
</div>
