---
layout: default
section: programa
title: esLibre 2019 - José Luis Perez Diez - Emulando impresoras para generar PDF
---

<h1 class="mt-3 mb-3">Track 2: Social (18:45 - 19:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/perez_jose_luis.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">José Luis Perez Diez: "Emulando impresoras para generar PDF"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  El flujo de trabajo de mi unidad depende de una aplicación legacy (<a href="https://es.wikipedia.org/wiki/IBM_3270" target="_blank">IBM 3270</a> (terminales), IBM 3287 (impresoras)) y como conseguí que se generasen en lugar de papel.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Primero explicaré cómo se gestó el sistema de impresión actual en los 80 con impresoras XEROX, narraré una pequeña crisis que nos ocurrió a mediados de los 90 que fue crucial para la solución actual.<br><br>
  Después explicaré el flujo de trabajo "clásico" con la aplicación y por último mostraré la solución actual con streams de impresión anonimizados sobre un hardware similar al que uso en el trabajo.<br><br>
  La solución actual:
  <ul>
    <li>Hardware:</li>
    <ul>
      <li><a href="https://www.raspberrypi.org/" target="_blank">Raspberry Pi 3B+</a></li>
    </ul>
    <li>Software:</li>
    <ul>
      <li><a href="https://www.raspbian.org/" target="_blank">Raspbian</a> (Debian based)</li>
      <li><a href="https://metacpan.org/pod/DateTime" target="_blank">DateTime</a> (<a href="https://opensource.org/licenses/Artistic-2.0" target="_blank">The Artistic License 2.0</a>)</li>
      <li><a href="http://x3270.bgp.nu/" target="_blank">x3270</a> (<a href="https://opensource.org/licenses/BSD-3-Clause" target="_blank">3-Clause BSD License</a>/<a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>)</li>
      <li><a href="https://www.ghostscript.com/GhostPCL.html" target="_blank">GhostPCL</a>(<a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">GNU Affero General Public License</a>)</li>
    </ul>
  </ul>
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  La charla esta pensada para que sea accesible al publico no técnico. Esta mas centrada en conceptos que en las herramientas utilizadas, tiene alguna parte de gestión de sistemas y <a href="https://www.perl.org/" target="_blank">Perl</a>.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>José Luis Perez Diez</strong>. <a href="https://www.meetup.com/es-ES/barcelonapm/" target="_blank">Barcelona Perl Mongers</a>. Actualmente fuera de IT en la <a href="http://www.gencat.cat/" target="_blank">Generalitat de Catalunya</a>,
  anteriormente programador, administrador de sistemas y soporte de segundo nivel.<br><br>
  <ul>
    <li><a href="http://workshop.granada.pm/granada2014/" target="_blank">Granada Perl Workshop 2014</a></li>
    <li><a href="http://act.yapc.eu/ye2016/" target="_blank">YAPC::Europe 2016</a></li>
    <li><a href="https://love4perl.github.io/" target="_blank">Love4Perl, Granada Perl Workshop 2018</a></li>
    <li>Muchos de los eventos organizados por Barcelona Perl Mongers</li>
  </ul>
  <a href="https://github.com/jluis" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/josé-luis-pérez-diez-6673bb1/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
